@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    background-image: url(../img/Fundo-login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.cabecalho {
    background-color: rgb(51, 53, 51);
    width: 100%;
    height: 80px;
}
img{
    display: block;
    margin: auto;
}
.menu{
    position: absolute;
    display: inline-block;
    height: 100%;
    background-color: rgb(168, 159, 159);
}
ul {
    list-style: none;
    width: 200px;
    margin: 0;
    padding: 0;
}
ul > li{
    text-align: center;
}
a {
    color: #e7e7e7;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
a:hover {
    background-color: #aab3aa;
    transition: all 0.5s ease;
    color: #000000;
}
.estatus-pedido{
    background-color: rgb(168, 159, 159); 
    float: left;
    width: auto;
    height: auto;
    margin-left: 220px;
    margin-top: 50px;    
}
.estatus-pedido > h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: -5px;
    margin-left: 5px;
}
.status{
    margin-top: 50px;
    margin-bottom: 40px;
    height: auto;
    width: 200px;
    background-color: rgb(126, 122, 122);
    display: inline-block; 
    margin-left: 30px;
    margin-right: 50px;
}
.status > h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    margin-top: 1px;
}
p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
.status > img{
    margin-top: 20px;
    margin-bottom: 10px;
}
.status-aprovado{
    background-color: rgb(56, 121, 56);
}
.status-cancelado{
    background-color: rgb(122, 21, 21);
}
.status-pendente{
    background-color: rgb(116, 116, 22);
}
.status-analise{
    background-color: rgb(62, 62, 150);
}
    