@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background-image: url(../img/login-background.jpg);
    background-size: cover;
}
form{
    width: 450px;
    margin: auto;
    padding-top: 100px;
}
.janela{
    box-shadow: 1px 1px 4px black;
    background-color: rgb(255, 249, 249);
    border-radius: 5px;
    padding: 30px;
}
.janela-top{
    text-align: center;  
}
.img-login{
    width: 250px;
    height: 200px;
}

h2{
    color: rgb(37, 197, 255);
    font-size: 40pt;
    text-shadow: 1px 2px 1px black;
    font-family: 'Open Sans', sans-serif;
    margin-top: auto;
    margin-bottom: 10px;
}
.janela-top > p{
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
}
.usuario-senha{
    margin-bottom: 20px;
}
.usuario-senha > label{
    font-size: 15px;
    width: 100%;
    display: block;
    font-family: 'Open Sans', sans-serif;
}
.usuario-senha > input{
    border: none;
    border-bottom: solid 1px;
    outline: 0;
    width: 100%;
    height: 22px;
    padding: 3px;
    margin-top: 20px;
    background-color: rgb(255, 249, 249);
}
.usuario-senha > button{
    background-color: rgb(37, 197, 255);
    border: 0;
    width: 100%;
    border-radius: 25px;
    height: 45px;
    cursor: pointer;
    outline: 0;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
.lembre{
    display: inline-block;
    position: absolute;
}
.lembre > label{
    font-size: 9pt;
}
.esqueceu{
    text-align: right;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
}
.acessar{
    padding-top: 50px;
    margin-top: 15px;
}
