@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    background-image: url(../img/login-background.jpg);
    background-size: cover;
}
form{
    width: 450px;
    margin: auto;
    padding-top: 80px;
}
.janela{
    box-shadow: 1px 1px 4px black;
    background-color: rgb(255, 249, 249);
    border-radius: 5px;
    padding: 10px;
}
.conteudo-top > p{
    font-size: 20px;
    color: black;
}
.conteudo-top{
    font-family: 'Open Sans', sans-serif;
    color: rgb(153, 19, 19);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}
    
.conteudo{
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    text-align: center;
    margin: 20px;
    padding: 15px;
}
.conteudo > input{
    border: none;
    border-bottom: solid 1px;
    outline: 0;
    width: 100%;
    height: 22px;
    padding: 3px;
    background-color: rgb(255, 249, 249);
}
.conteudo > button{
    background-color: rgb(37, 197, 255);
    border: 0;
    width: 100%;
    border-radius: 25px;
    height: 45px;
    cursor: pointer;
    outline: 0;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
.button{
    text-align: center;
}
.sucesso{
    background-color: rgb(22, 221, 55);
    width: 300px;
    height: 30px;
    margin: auto;
    border-radius: 5px 1px 1px;
}
.sucesso > p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 5px;
}
.falha{
    background-color: rgb(250, 41, 41);
    width: 300px;
    height: 30px;
    margin: auto;
    border-radius: 5px 1px 1px;
}
.falha > p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 5px;
}